html {
    font-size: 18px;
}

h1 {
    text-align: center;
    color: #4B0082;
}

h2 {
    text-align: center;
    color: #8B008B;
}

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table {
    background-color: antiquewhite;
    border-collapse: collapse;
    letter-spacing: 1px;
}

thead {
    background-color: #DA70D6;
}

td, thead {
    padding: 5px 10px;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    padding: 0 1%;
}

footer p {
    padding-bottom: 1.66rem;
}

footer .content {
    flex-grow: 1;
    font-style: italic;
    color: #9b9b9b;
    display: flex;
    justify-content: center;
    align-items: center;
  }